<?xml version="1.0" encoding="UTF-8" standalone="no"?>
    ncx(xmlns="http://www.daisy.org/z3986/2005/ncx/" version="2005-1")
        head
            meta(name="dtb:uid" content=identifier.text)/
            meta(name="dtb:depth" content="0")/
            meta(name="dtb:totalPageCount" content="0")/
            meta(name="dtb:maxPageNumber" content="0")/
        docTitle
            text= title.main
        if author
            docAuthor
                text= author 
        navMap
            - var index = 1
            each file in files
                if pages[file] && pages[file].toc
                    navPoint(id="navpoint" + index, playOrder=index)
                        navLabel
                            text= pages[file].toc.text
                        content(src="xhtml/" + file + ".xhtml")/
                    - index++